<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="amivcore.js" type="text/Javascript"></script>

<meta charset="utf-8">


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
<body>
<div class="container-fluid">

</div>
 <div class="container-fluid" style="background-color:lightcyan;">
 
    <div class="col-sm-3"  style="background-color:lavenderblush;">.col-xs-6</div>
    <div class="col-sm-6" style="background-color:lavender;">

	      <div class="col-md-4">
		  	 <h2 class="form-signin-heading">Post the job</h2>
		  </div>
		  <br>
		  

 <form class="form-inline">
 
	 <div class="form-group">
	   <label for="text">Company Name:</label>
	   <input type="text" class="form-control" id="companyName" name="companyName">
	 </div>
 
 
 
	 <div class="form-group">
	   <label for="text">Title:</label>
	   <input type="text" class="form-control" id="titleForm" name="titleForm">
	 </div>
	 
	 
	 <div class="form-group">
	   <label for="date">Publish Until:</label>
	   <input type="date" class="form-control" id="publishUntil" name="publishUntil">
	 </div>
	 
	 	 <div class="form-group">
	   <label for="date"> Logo load:</label>
	   <input type="file" class="form-control"  accept="image/*" id="logoLoad" name="logoLoad" multiple>
	   <output id="list"></output>
	 </div>

 	 <div class="form-group">
	   <label for="date"> Pdf upload:</label>
	   <input type="file" class="form-control" id="pdfLoad" name="pdfLoad" accept=".pdf">
	 </div>


	 <button type="button" class="btn btn-default" id="button" onclick="sendCompanyForm()">Submit</button>

</form>


	</div>
	<div class="col-sm-3"  style="background-color:lavenderblush;">  </div>
  </div>
  
  
<!--   function verifyorder() {
   var order = document.getElementById('value').value;
  
  } -->
  
  
<script type="text/JavaScript">

amivcore.on('ready', function() {    // wait for it to be ready
	amivcore.login('gygi','gygi');
});	 
		 
 function sendCompanyForm(){
 
		
	var companyName = document.getElementById("companyName").value;
    var title = document.getElementById("titleForm").value;
	var date = document.getElementById("publishUntil").value;
	
	
	if (0 != companyName.length && 0 != title.length && 0 != date.length){
			
		amivcore.joboffers.POST({data:{"company":companyName,"title_de":title}, }, function(ret) {console.log(ret)});

	 	var imgElem = document.getElementById('logoLoad'); 
		console.log(imgElem);
	<!--	var imgData = JSON.stringify(getBase64Image(imgElem));-->
	<!--	amivcore.joboffers.POST({data:{"company":companyName,"title_de":title,"logo":imgData}, }, function(ret) {console.log(ret)});-->
		
		
	}
	else
	{	alert("Please fill all data");}

}

	function getBase64Image(imgElem) {
	// imgElem must be on the same server otherwise a cross-origin error will be thrown "SECURITY_ERR: DOM Exception 18"
		var canvas = document.createElement("canvas");
		canvas.width = imgElem.clientWidth;
		canvas.height = imgElem.clientHeight;
		var ctx = canvas.getContext("2d");
		ctx.drawImage(imgElem, 0, 0);
		var dataURL = canvas.toDataURL("image/png");
		return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
    }

</script>

<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '</li>');
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }

  document.getElementById('logoLoad').addEventListener('change', handleFileSelect, false);
</script>
  
  
  
 
  
</body>
</html>